    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
    * {
        font-family: 'Montserrat', Helvetica, sans-serif;
    }
    .flex-container {
        box-sizing: border-box;
        margin: 0 auto;
        padding: 0 1em;
    }
    
    @media(min-width:540px) {
        .flex-container {
            max-width: 540px;
        }
    }
    
    @media(min-width:768px) {
        .flex-container {
            max-width: 768px;
        }
    }
    
    @media(min-width:992px) {
        .flex-container {
            max-width: 992px;
        }
    }
    
    @media(min-width:1200px) {
        .flex-container {
            max-width: 1200px;
        }
    }
    
    .flex-column {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        margin-bottom: 1em;
    }
    
    .flex-row {
        display: flex;
        flex-wrap: wrap;
        box-sizing: border-box;
        margin-bottom: 1em;
    }
    

    .summary {
        font-size: 24px!important;
        font-family: 'Montserrat'!important;
        font-style: normal!important;
        font-weight: 500!important;
        height: 47px;
    }
    .details-p {
        font-size: 22px!important;
        font-family: 'Montserrat'!important;
        font-style: normal!important;
    }